<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]='formularioDetalle<%= entidad.capitalize %>'>
        <% Object.keys(entidad.entity).forEach(function(campo) { %><% if (!entidad.entity[campo].model && !entidad.entity[campo].collection) { %>
        <div class="form-group">
          <label class="col-form-label" translate><%= campo %></label>
          <% if (entidad.entity[campo].type === 'string') { %><input class="form-control" formControlName="<%= campo %>" type="text" pInputText/><% } else if(entidad.entity[campo].type === 'boolean') { %><input type="checkbox" formControlName="<%= campo %>">
          <% } %>
          <span hidden translate><%= campo %></span>
          <small [hidden]="formularioDetalle<%= entidad.capitalize %>.controls.<%= campo %>.valid || formularioDetalle<%= entidad.capitalize %>.controls.<%= campo %>.untouched"
                  class="text-danger" translate>
            <%= campo %> es requerido
          </small>
        </div>
        <% } %><% }) %>
        <% relaciones.forEach(function(entidadRelacion) { %>
        <div class="form-group">
          <label class="col-form-label" translate><%= entidadRelacion.capitalize %></label>
          <br>
          <span class="ui-fluid"> <!-- Hacer ancho 100% el autoComplete-->
          <p-autoComplete [(ngModel)]="<%= entidadRelacion.uncapitalize %>Seleccionad<% if(entidadRelacion.isFemenino){ %>a<% } else { %>o<% } %>" formControlName="<%= entidadRelacion.uncapitalize %>"
            [suggestions]="resultado<%= entidadRelacion.pluralizeCapitalize %>Encontrad<% if(entidadRelacion.isFemenino){ %>a<% } else { %>o<% } %>s" field="<% Object.keys(entidadRelacion.entity).forEach(function(field) { %><% if(entidadRelacion.entity[field].sugerencia) { %><%= field %><% } %><% }) %>"
            (completeMethod)="busquedaDeSugerencias<%= entidadRelacion.capitalize %>($event)"></p-autoComplete>
          <span hidden translate><%= entidadRelacion.capitalize %></span>
          </span>
          <small [hidden]="formularioDetalle<%= entidad.capitalize %>.controls.<%= entidadRelacion.uncapitalize %>.valid || formularioDetalle<%= entidad.capitalize %>.controls.<%= entidadRelacion.uncapitalize %>.untouched"
                  class="text-danger" translate>
          <%= entidadRelacion.capitalize %> es requerido
          </small>
        </div>
        <% }) %>
        <% colecciones.forEach(function(entidadColeccion) { %>
        <div class="form-group" [hidden]="!(<%= entidad.uncapitalize %> | async)">
          <label class="col-form-label" translate><%= entidadColeccion.capitalize %></label>
          <br>
          <table class="table table-hover">
            <thead class="thead-default">
            <!-- TODO: Separar etiquetas th y td -->
            <tr>
              <% Object.keys(entidadColeccion.entity).forEach(function(field) { %><% if(entidadColeccion.entity[field].visible) { %><th translate><%= field %></th><% } %><% }) %>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let <%= entidadColeccion.uncapitalize %> of <%= entidadColeccion.pluralizeUncapitalize %>; let indice=index" (dblclick)="seleccionar<%= entidadColeccion.capitalize %>DesdeRelacion(indice)">
                <% Object.keys(entidadColeccion.entity).forEach(function(field) { %><% if(entidadColeccion.entity[field].visible) { %><td>{{<%= entidadColeccion.uncapitalize %>.<%= field %>}}</td><% } %><% }) %>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-info btn-sm btn-block"
                    (click)="crear<%= entidadColeccion.capitalize %>DesdeRelacion()"
                    [hidden]="!(<%= entidad.uncapitalize %> | async)" translate>Crear <%= entidadColeccion.uncapitalize %></button>
        </div>
        <% }) %>
        <button class="btn btn-info btn-sm btn-block" [hidden]="(<%= entidad.uncapitalize %> | async)"
                [disabled]="formularioDetalle<%= entidad.capitalize %>.invalid"
                (click)="crear<%= entidad.capitalize %>(formularioDetalle<%= entidad.capitalize %>.value)" translate>Agregar</button>
        <button class="btn btn-success btn-sm btn-block" [hidden]="!(<%= entidad.uncapitalize %> | async)"
                [disabled]="formularioDetalle<%= entidad.capitalize %>.invalid"
                (click)="actualizar<%= entidad.capitalize %>(formularioDetalle<%= entidad.capitalize %>.value)" translate>Actualizar</button>
        <button class="btn btn-danger btn-sm btn-block" [hidden]="!(<%= entidad.uncapitalize %> | async)"
                (click)="eliminar<%= entidad.capitalize %>(formularioDetalle<%= entidad.capitalize %>.value)" translate>Eliminar</button>
        <button class="btn btn-info btn-sm btn-block" [hidden]="!(<%= entidad.uncapitalize %> | async)"
                (click)="limpiar<%= entidad.capitalize %>()" translate>Nuevo</button>
      </form>
    </div>
  </div>
</div>
<% colecciones.forEach(function(entidadColeccion) { %>
<p-dialog header="<%= entidadColeccion.capitalize %>" [(visible)]="isCrud<%= entidadColeccion.capitalize %>Visible">
  <app-crud-<%= entidadColeccion.uncapitalize %> [<%= entidadColeccion.uncapitalize %>]="<%= entidadColeccion.uncapitalize %>Seleccionad<% if(entidadColeccion.isFemenino){ %>a<% } else{ %>o<% } %>" [(<%= entidad.uncapitalize %>)]="<%= entidad.uncapitalize %>Seleccionad<% if(entidad.isFemenino){ %>a<% } else{ %>o<% } %>"
    (<%= entidadColeccion.uncapitalize %>Crear)="agregar<%= entidadColeccion.capitalize %>EnTabla($event)"
    (<%= entidadColeccion.uncapitalize %>Eliminar)="eliminar<%= entidadColeccion.capitalize %>EnTabla($event)"
    (<%= entidadColeccion.uncapitalize %>Actualizar)="actualizar<%= entidadColeccion.capitalize %>EnTabla($event)"></app-crud-<%= entidadColeccion.uncapitalize %>>
</p-dialog>
<% }) %>
